<h1>Trips#new</h1>
<p>Find me in app/views/trips/new.html.erb</p>

<%= form_tag trips_path do -%>
    <p>
      <%= label_tag 'Origin IATA' %>
      <%= select_tag(:origin_iata, options_from_collection_for_select(@flights_origin, "origin_iata", "origin_iata"), :prompt => "select flight") %>
      <span id="origin_city"></span>
    </p>
    <p>
      <%= label_tag 'Destination IATA' %>
      <%= select_tag(:destination_iata, options_from_collection_for_select(@flights_destination, "destination_iata", "destination_iata"), :prompt => "select flight") %>
      <span id="origin_city"></span>
    </p>
    <p>
      <%= label_tag "Max Stops" %>
      <%= number_field_tag :max_stops, params[:max_stops] %>
    </p>
    <p>
      <%= label_tag "Departure (YYYY-MM-DD)" %>
      <%= text_field_tag :min_departure, params[:min_departure] %>
    </p>
    <p>
      <%= label_tag "Max Price" %>
      <%= number_field_tag :max_price, params[:max_price] %>
    </p>
    <p>
      <%= label_tag "Max Trip Time (hours)" %>
      <%= number_field_tag :max_trip_time, params[:max_trip_time] %>
    </p>
    <p>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end -%>
